@import '../../colors.scss';
.product {
   
    display: inline-flex;
    padding: 2EM;
   

    .detail {
        background-color:$ROJOPASION;
        display: flex;
        flex-direction: column;
        font-size: 20px;
         border: 2PX solid $NEGRO;
        font-family: cursive;
        padding: 60px;
    .cajaNombre{
    display: flex;
    width:35em;
    margin-left: 5em;
    background-color: black;
    justify-content: center;
    border-radius: 4px;
    }
    .nombre{
        color: white;
        background-color:black;
    }
.precio{
  color: rgb(255, 255, 255);
  margin-left: 5em;
  padding:1em;
}
.descripcion{
    color: rgb(255, 255, 255);
  margin-left: 5em;
  margin-top: 10px;
}
.stock{
    color: rgb(255, 255, 255);
    margin-left: 6em;   
}
    }
    img {
        max-width: 25vw;
    }
    .coche{
        color: rgb(255, 255, 255);
        margin-left: 2em;
        font-size: 4em;
        
    }
    .coches{
     display: flex;
     justify-content: flex-end;
    }
}
