@import '../../../colors.scss';
.registerContainer {
    padding: 4.0em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: black 2em;

  
    color:black;

    div{
padding-top: 2px;
color: $NEGRO;


    }
    input{
        color: black;
        border: 1px solid $NEGRO;
    }
    .ant-input-password{
        color: black;
        border: 1px solid $NEGRO;
    }
  
    label {
        color:black;
        font-family: cursive;
        font-size: 1.3em;
        padding-right: 3em;;  

}
button{
    background-color: white;
    color: $NEGRO;
    font-family: cursive;
    border-radius: 5px;
    display: block;
}
.registerForm{
    width: auto;
    height: 10%;
    border-radius: 4px;
    background:$ROJOPASION;
    display: flex;
    flex-direction: column;
    padding: 2em;
    border: 3px solid $NEGRO;
 
}

}