@import '../../../colors.scss';
.loginContainer {
    padding: 4.2em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: black 2em;

    div{
padding-top: 2px;

    }
    label {
        color:black;
        font-family: cursive;

}
button{
    color:black;
}

}