@import '../../../colors.scss';
.loginContainer {
    padding: 4.2em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: black 2em;
    color:black;

    div{
padding-top: 2px;


    }
    input{
        color: black;
    }
    label {
        color:black;
        font-family: cursive;
        font-size: 1em;
       

}
button{
    background-color: $ROJOPASION;
    color: white;
    font-family: cursive;
    border-radius: 5px;
}

}